<h1>Mailbox#send_mail</h1>
<p>Find me in app/views/mailbox/send_mail.html.erb</p>


From : <%= @from_mail %> <br>
To : <%= @to_mail %><br>
title : <%= @title %><br>
content : <%= @content %><br>

<hr>